<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
	<div class="container wrapper">
		{{ partial "head.html" . }}

		<div class="post">
			<div class="post-header">
				<div class="matter">
					<h1 class="title">{{ .Title }}</h1>
				</div>
                {{ if ne .Date.Year 1 }}
                <div class="date-info">
                  <h5 class="date">{{ .PublishDate.Format "Monday, 2 January 2006" }}</h5>
                  {{ if not (eq .PublishDate.YearDay .Lastmod.YearDay) }}
                  <h5 class="date edit">
                    <svg class="feather">
                      <title>Last edited</title>
                      <desc>Icon depciting pen for last edited post</desc>
                      <use xlink:href="/icons/feather-sprite.svg#edit-2"/>
                    </svg>
                    {{ .Lastmod.Format "2 January 2006" }}</h5>
                  {{ end }}
                </div>
                {{ end }}
			</div>
					
			<div class="markdown">
				{{ .Content }}
			</div>

			<div class="tags">
				{{ if ne .Type "page" }}
					{{ if gt .Params.tags 0 }}
						<ul class="flat">
							{{ range .Params.tags }}
							<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
							{{ end }}
						</ul>
					{{ end }}
				{{ end }}
			</div>

		</div>
	</div>
	{{ partial "footer.html" . }}
</body>
</html>
